.rootDiv {
  background-color: #1d1816;
  display: flex;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
}
.rootDiv > img {
  width: 70px;
  height: 70px;
}
.infoDiv {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 0.5rem;
}
.titleDiv {
  margin-right: 1rem;
}
.titleDiv > h6 {
  margin-bottom: 0.5rem !important;
}
.totalDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.totalDiv > h6 {
  margin-bottom: 0.5rem !important;
}
.deleteIcon {
  color: #d36b00;
  cursor: pointer;
  font-size: 1.5rem;
}
