div.quantity {
  display: flex;
  align-items: center;
}
div.quantity > p {
  margin: 0px 5px;
  font-size: 1.3rem;
}
.icon {
  background-color: transparent !important;
  padding: 0 !important;
  border: none !important;
}
.icon:hover {
  background-color: transparent !important;
  border: none;
}
.icon > svg {
  color: #d36b00;
  cursor: pointer;
  font-size: 1.5rem;
}
