.categories {
  justify-content: start;
  padding-bottom: 0.5rem;
}
/* on selecting partucular category */
.onHide {
  padding: 10px 0px;
  background-color: black;
  position: sticky;
  top: 110px;
}
@media screen and (min-width: 1400px) {
  .categories {
    justify-content: space-between;
  }
}
