.link {
  text-decoration: none !important;
}
.card {
  background-color: #d36b00;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}
.card > h6 {
  color: white;
  text-align: center;
  margin-top: 0.7rem;
  font-weight: bold;
  font-family: "Vollkorn", serif;
  font-size: 1.2rem;
}
.card > img {
  width: 150px;
  height: 123px;
}
.nonActiveCard {
  border: 4px solid #d36b00;
}
.activeCard {
  border: 4px solid white;
}
/* on selecting partucular category */
.hide {
  width: 200px;
}
.hide > img {
  display: none;
}
.hide > h6 {
  margin: 0.7rem 1.3rem !important;
}
@media screen and (max-width: 768px) {
  .card {
    width: 120px;
  }
  .card > img {
    width: 100px;
    height: 76px;
  }
  .card > h6 {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
  }
  .hide {
    width: 170px;
  }
  .hide > h6 {
    font-size: 0.8rem;
  }
}
