.link {
  text-decoration: none !important;
}
.card {
  background-color: #d36b00;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.nonActiveCard {
  border: 4px solid #d36b00;
}
.activeCard {
  border: 4px solid white;
}
div.card > h6 {
  color: white;
  text-align: center;
  margin-top: 0.7rem;
  font-weight: bold;
  font-family: "Vollkorn", serif;
  font-size: 1.2rem;
}
div.card > img {
  width: 150px;
  height: 123px;
}
/* on selecting partucular category */
div.hide {
  width: 170px;
}
div.hide > img {
  display: none;
}
div.hide > h6 {
  margin: 0.7rem 1.3rem !important;
}
@media screen and (max-width: 768px) {
  div.card > img {
    width: 100px;
    height: 76px;
  }
  div.card > h6 {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
  }
  /* div.card {
    width: 145px;
  } */
  div.hide > h6 {
    /* font-size: 1.2rem; */
    margin: 0.7rem 1.3rem;
  }
}
