.info {
  transition: height 400ms;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.infoleftdiv > h1 {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.7rem;
}
.inforightdiv {
  cursor: pointer;
}
.inforightdiv > span,
.inforightdiv > svg {
  font-size: 1rem;
  margin-left: 5px;
  color: #d36b00 !important;
}
