.rootdiv {
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .rootdiv {
    max-width: 1320px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .rootdiv {
    max-width: 1140px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .rootdiv {
    max-width: 960px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .rootdiv {
    max-width: 720px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .rootdiv {
    max-width: 540px;
  }
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  .rootdiv {
    max-width: 100%;
    padding: 0 15px;
  }
}
